<section>
    <div id=space></div>
    <div class="col-md-10">
    <span id="articleH" class="d-block p-2 w3-red text-white text-monospace text-center" ><h3>Videos On Integrated Circuits</h3></span>
      <hr>
      
    <div class="row row-cols-1 row-cols-md-2">
      
<div class="col mb-4">
  <div class="card w3-pale-red" >
    <iframe src="https://m.youtube.com/embed/sTwRQDVHNiw" frameborder="0" style="height:300px;" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <div class="card-body">
      <h5 class="card-title">What is Integrated Circuit?</h5>
      <p class="card-text"> This video with its outstanding graphics and high-end animation describes the different types and construction of integrated circuits (ICs).</p>
    </div>
  </div>
</div>
<div class="col mb-4">
  <div class="card w3-pale-red">
  <iframe src="https://m.youtube.com/embed/6-tKOHICqrI" frameborder="0" style="height:300px;" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <div class="card-body">
      <h5 class="card-title">Moore's law and third generation of IC.</h5>
      <p class="card-text">So you may have heard of Moore's Law and while it isn't truly a law it has pretty closely estimated a trend we've seen in the advancement of computing technologies. Moore's Law states that we'll see approximately a 2x increase in transistors in the same space every two years, and while this may not be true for much longer, it has dictated the advancements we've seen since the introduction of transistors in the mid 1950s.  </p>
    </div>
  </div>
</div>
<div class="col mb-4">
  <div class="card w3-pale-red">
  <iframe src="https://m.youtube.com/embed/igVtLuqmxyM" frameborder="0" style="height:300px;" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <div class="card-body">
      <h5 class="card-title">How Integrated Circuits Work - The Learning Circuit</h5>
      <p class="card-text">Any circuits that have more than the most basic of functions requires a little black chip known as an integrated circuit. Integrated circuits, or ICs, fall into 3 categories, analog, digital, or mixed signal.Analog signals can vary in the entire range between the minimum and maximum signals. In the case of this graphic, any voltages between 0V and 5V.Digital signals are typically on or off, high or low, represented by a 1 or 0.</p>
    </div>
  </div>
</div>
<div class="col mb-4">
  <div class="card w3-pale-red">
  <iframe src="https://m.youtube.com/embed/JDROPMoNZpk" frameborder="0" style="height:300px;" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <div class="card-body">
      <h5 class="card-title">FABRICATION OF INTEGRATED CIRCUITS</h5>
      <p class="card-text">This video consists of FABRICATION OF INTEGRATED CIRCUITS.</p>
    </div>
  </div>
</div>
<div class="col mb-4">
  <div class="card w3-pale-red">
  <iframe src="https://m.youtube.com/embed/lpXNCwsnxjM" frameborder="0" style="height:300px;" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <div class="card-body">
      <h5 class="card-title">Introduction to Integrated Circuits (IC) Technology</h5>
      <p class="card-text">This video is about Introduction to Integrated Circuits (IC) Technology</p>
    </div>
  </div>
</div>
<div class="col mb-4">
  <div class="card w3-pale-red">
  <iframe src="https://m.youtube.com/embed/cdMJvFT-Afc" frameborder="0" style="height:300px;" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <div class="card-body">
      <h5 class="card-title">Digital Electronics: Logic Gates - Integrated Circuits Part 1</h5>
      <p class="card-text">This is the Integrated Circuits Experiment as part of the EE223 Introduction to Digital Electronics Module. This is one of the circuits in the EE223 Introduction to Digital and Analogue electronics module at Dublin City University.</p>
    </div>
  </div>
</div>

</div>


</div>
    </section>
