<div id="space">
</div>
<section class=" col-md-10">

<a routerLink="/article" class="text-decoration-none"><span id="articleH" class="d-block p-2 w3-red text-white text-monospace text-center" ><h3>Article on Integrated Circuits</h3></span></a>
  <hr>
  <div class="container-fluid">
  <div class="row">
  <div class="col-md-6 col-sm-6 col-lg-6 col-12">
    <article class="para w3-pale-red">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">What is Integrated Circuits ?</h2><hr>
          <h5>This article is on basic of Integrated Circuits</h5>
          <p class="card-text">An integrated circuit is a semiconductor wafer on which thousands or millions of tiny resistors, capacitors, and transistors are fabricated. Sometimes called a chip or microchip.  The invention of the integrated circuit made technologies of the Information Age feasible. ICs are now used extensively in all walks of life, from cars to toasters to amusement park rides. Integrated circuits (ICs) are self-contained circuits with many separate components such as transistors, diodes, resistors and capacitors etched into a tiny silicon chip.</p>
          <a href="https://www.hilarispublisher.com/scholarly/integrated-circuit-journals-articles-ppts-list-1763.html" class="btn w3-red">Read More.</a>
        </div>
      </div>
</article>
</div>
<div class="col-md-6 col-sm-6 col-lg-6 col-12">
  <article class="para w3-pale-red">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">Why Integrated Circuits are important ?</h2><hr>
        <h5>This article is based on importance of IC</h5>
        <p class="card-text">Apart from the layout and housing design, the characteristics of the integrated circuits (ICs) used play a key role for the EMC characteristics of devices. Reducing the size of the structure, operating voltages and operating points makes the ICs much more sensitive. If one approaches or even surpasses the 100 nm limit, the immunity compared to earlier ICs is reduced, a trend that is reflected in the device behavior. It is important that users of ICs are able to compare various types of IC on the basis of their EMC parameters. This enables the choice of the best IC, and means that the layout design and the device can be aligned to the IC’s EMC parameters.</p>
        <a href="https://incompliancemag.com/article/parameters-for-the-integrated-circuit-why-integrated-circuits-are-so-important-for-the-emc-of-electrical-devices/#:~:text=Design-,Parameters%20for%20the%20Integrated%20Circuit%3A%20Why%20integrated%20circuits%20are%20so,the%20EMC%20of%20electrical%20devices&text=Reducing%20the%20size%20of%20the,the%20ICs%20much%20more%20sensitive." class="btn w3-red">Read More.</a>
      </div>
    </div>
</article>
</div>
<div class="col-md-6 col-sm-6 col-lg-6 col-12">
  <article class="para w3-pale-red">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">How Integrated Circuits are made?</h2><hr>
        <h5>This article is based on the making of IC</h5>
        <p class="card-text">
          If you've read our articles on diodes and transistors, you'll be familiar with the idea of semiconductors. Traditionally, people thought of materials fitting into two neat categories: those that allow electricity to flow through them quite readily (conductors) and those that don't (insulators). Metals make up most of the conductors, while nonmetals such as plastics, wood, and glass are the insulators. In fact, things are far more complex than this—especially when it comes to certain elements in the middle of the periodic table (in groups 14 and 15), notably silicon and germanium. Normally insulators, these elements can be made to behave more like conductors if we add small quantities of impurities to them in a process known as doping.
        </p>
          <a href="https://www.brighthubengineering.com/diy-electronics-devices/62185-how-are-integrated-circuits-made/" class="btn w3-red">Read More.</a>
      </div>
    </div>
</article>
</div>
<div class="col-md-6 col-sm-6 col-lg-6 col-12">
<article class="para w3-pale-red">
  <div class="card">
    <div class="card-body">
      <h2 class="card-title">Types of ICs. Classification of Integrated Circuits and Their Limitation</h2><hr>
      
      <p>This article is based on Types of ICs. Classification of Integrated Circuits and Their Limitation</p>
      <p class="card-text">Integrated circuit (IC) is the most significant technological development of the 21st century if I may say. It has forever transformed the world of electronics. It has reduced the size of electronics from a refrigerator size to palm size electronics or even less. Unlike vacuum tubes used in early electronics, ICs dissipates less heat and as consumes less energy compared to vacuum tubes. Its reliability is not to be compared with that of vacuum tubes, it is very reliable. ICs have changed the fate of electronics.</p>
        
      <a href="https://www.electricaltechnology.org/2015/04/types-of-ics-classification-of-integrated-circuits-and-their-limitation.html" class="btn w3-red">Read More.</a>
    </div>
  </div>
</article>
</div>


</div> <!--  row end -->
</div>  <!--  container end -->



</section>
